[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pypdf2 = "*"
pyinstaller = "*"
pywin32-ctypes = "*"

[requires]
python_version = "3.7"
